<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>RECIPES PLACE HOLDER FOR TITLE</title>
</head>

<body>
	<h1>THIS IS A PLACE HOLDER TITLE WOW</h1>
	{{{ body }}}
</body>

</html>