<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ReciPlanner</title>
	<link rel="stylesheet" href="/public/assets/stylesheets/style.css">
</head>

<body>
	<h1>THIS IS A PLACE HOLDER TITLE WOW</h1>
	{{{ body }}}
</body>

</html>