* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root color scheme?  */
:root {
    --primary-color: #e6d3a3;
    --secondary-color: #d8d174;
    --tertiary-color: #f2f4f3;
    --quaternary-color:  #b6c454;
    --quinary-color: #91972a ;
    --senary-color: #212121;
}


body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Baloo Chettan 2', cursive;
    color: #333;
    scroll-padding: 150px;
}

main {
    min-height: calc(90vh - 285px);
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: color .1s;
}

a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

button {
    background-color: var(--quaternary-color);
    border: 0;
    color: var(--senary-color);
    padding: 1%;
    /* font-weight: bold; */
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--secondary-color);
}
html {
    scroll-padding: 150px;
}

body {
    overflow-x: hidden;
    background-color: var(--tertiary-color);
}

main {
    min-height: calc(90vh - 285px);
}

header {
    padding: 5px 10px;  
    display: flex;
    background-color: var(--quinary-color);
    justify-content:space-between;
    flex-wrap:wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid var(--senary-color);
}

.btn {
    background-color: var(--quaternary-color);
    color: var(--senary-color);
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}
  
.btn-no-style:hover {
    background: none;
    color: var(--secondary-color);
}

/* .login-btn {
    margin-left: 100%;
} */
/* section {
    padding: .5%;
    margin: auto 20px;
} */

textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid var(--senary-color);
}
  
textarea:focus, input:focus {
    outline: none;
    border: 1px solid var(--senary-color);
}
  
textarea {
    min-width: 40%;
    min-height: 100px;
}
  
form > div {
    margin-bottom: 1%;
}
  
form label {
    display: block;
}

footer {
    border-top: 1px solid var(--senary-color);
    border-bottom: 1px solid var(--senary-color);
    background-color: var(--quinary-color);
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    margin-top: 10%;
}

.copyright {
    display: flex;
    justify-content: center;
}


/* Mobile Responsiveness */

/* Large screens */
@media screen and (max-width: 1415px){
    
}

/* Tablets and smaller*/
@media screen and (max-width: 768px) {
    
}

/* Mobile Responsivness for Galaxy Fold Duo/ iPhone 5 and smaller */
@media screen and (max-width: 325px) {
    
    
}
